<app-navbarcompte></app-navbarcompte>

<body>
  <div class="container">
    <aside class="sidebar">
      <ul>
        <ul>
          <li routerLink="/Compteprestaitre">📌Tableau de bord</li>
          <li routerLink="/Postulation">📩 Mes postulations</li>

          <li routerLink="/reservationprestataire">📅 Mes réservations</li>
          <li>📜Mon historique</li>

          <li routerLink="/Mesevolutions">⭐Mes évolutions</li>
          <li routerLink="/Mesrevunes">💰 Mes revenus</li>
          <li routerLink="/Mesévolutions">⭐Mes évolutions</li>
          <button id="logout-btn" (click)="logout()" (keydown)="logout()" tabindex="0"
            style="background:none;border:none;padding:0;cursor:pointer;">
            🚪 Se déconnecter
          </button>
        </ul>


      </ul>
    </aside>

    <main class="content">
      <h2>📅 Mes réservations</h2>

      <table *ngIf="reservations.length > 0" class="postulation-table">
        <thead>
          <tr>
            <th></th>
            <th>Date</th>

            <th>Service</th>
            <th>Client</th>
            <th>Annuler</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reservation of reservations; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ reservation.demande?.date | date:'short' }}</td>

            <td>{{reservation.demande?.servicee?.nomservice}}</td>
            <td>{{reservation.particulier?.nom}}</td>
            <td *ngIf="reservation.idReservation" class="delete-btn" title="Annuler"
              (click)="annulerReservation(reservation.idReservation)"
              (keydown.enter)="annulerReservation(reservation.idReservation)" tabindex="0">
              <i class="fa fa-times-circle cancel-icon"></i> Annuler
            </td>

          </tr>
        </tbody>
      </table>

      <div *ngIf="reservations.length === 0" class="no-data">
        Aucune réservation confirmée trouvée.
      </div>
    </main>
  </div>

</body>