<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<!--footer starts from here-->
<footer class="footer">
<div class="container bottom_border">
<div class="row">
<div class=" col-sm-4 col-md col-sm-4  col-12 col">
<h5 class="headin5_amrc col_white_amrc pt2">SOS
Service Tunisie</h5>
<!--headin5_amrc-->
<p class="mb10">Plateforme de mise en relation entre particuliers et prestataires de services à domicile.</p>



</div>


<div class=" col-sm-4 col-md  col-6 col">
<h5 class="headin5_amrc col_white_amrc pt2">Services</h5>


  
   
   
   
  
<ul class="footer_ul_amrc">

 <li><a [routerLink]="'/Bricolage'">Bricolage</a></li>
    <li><a [routerLink]="'/Ménage'">Ménage</a></li>
    <li><a [routerLink]="'/Jardinage'">Jardinage</a></li>
    <li><a [routerLink]="'/Animaux'">Animaux</a></li>
    <li><a [routerLink]="'/Enfants'">Enfants</a></li>
    <li><a [routerLink]="'/Demenagement'">Déménagement</a></li>

</ul>
<!--footer_ul_amrc ends here-->
</div>


<div class=" col-sm-4 col-md  col-6 col">
    <h5 class="headin5_amrc col_white_amrc pt2"></h5>
<!--headin5_amrc-->
<ul class="footer_ul_amrc">
 <li><a [routerLink]="'/Informatique'">Informatique</a></li>
    <li><a [routerLink]="'/Coursparticuliers'">Cours particuliers</a></li>
    <li><a [routerLink]="'/Construction'">Construction et Gros oeuvre</a></li>
    <li><a [routerLink]="'/Decoration'">Décoration et Finitions</a></li>
    <li><a [routerLink]="'/Domotique'">Sécurité et domotique</a></li>
</ul>
<!--footer_ul_amrc ends here-->
</div>


<div class=" col-sm-4 col-md  col-12 col">
<h5 class="headin5_amrc col_white_amrc pt2">Contact</h5>
<!--headin5_amrc ends here-->

<ul class="footer_ul2_amrc">
<li><a href="#"><i class="fas fa-map-marker-alt fleft padding-right"></i></a><p>Adresse:<a href="#">123 Rue , Tunis, Tunisie</a></p></li>
<li>  <a href="#"><i class="fas fa-phone-alt fleft padding-right"></i></a><p>Téléphone:
<a href="#">+216 71 123 456</a></p></li>
<li> <a href="#"><i class="fas fa-envelope fleft padding-right"></i></a><p>Email:
<a href="#">contact@sosservice.tn</a></p></li>
</ul>
<!--footer_ul2_amrc ends here-->
</div>
</div>
</div>


<div class="container">
<ul class="foote_bottom_ul_amrc">
<li><a  [routerLink]="'/Front'">Home</a></li>
<li><a href="http://webenlance.com">About</a></li>
<li><a  [routerLink]="'/Front'" >Services</a></li>
<li><a  [routerLink]="'/login'">Connexion </a></li>
<li><a  [routerLink]="'/login'">Login</a></li>
<li><a [routerLink]="'/login'">Devenir prestataire</a></li>
</ul>
<p class="text-center">© 2025 SOS Service Tunisie. <a href="#">Tous droits réservés. </a></p>

<ul class="social_footer_ul">
<li><a href="http://webenlance.com"><i class="fab fa-facebook-f"></i></a></li>
<li><a href="http://webenlance.com"><i class="fab fa-twitter"></i></a></li>
<li><a href="http://webenlance.com"><i class="fab fa-linkedin"></i></a></li>
<li><a href="http://webenlance.com"><i class="fab fa-instagram"></i></a></li>
</ul>
<!--social_footer_ul ends here-->
</div>

</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<!-- Crédit to https://bootsnipp.com/snippets/bxDBA -->