<app-navbar></app-navbar>
<body>
   
    <div class="container">
        <div class="text-section">
            <h1 class="title"><i class="fas fa-tools"></i> Bricolage</h1>
            <h1 class="subtitle">Réservez tous 
                vos <br>services<br> de bricolage</h1>
            <p class="description">
                Pour tous vos petits travaux à domicile: installation électrique, peinture, pose d'étagères, montage de meubles, plomberie.
            </p>
            <button class="button">
                Demander un service de bricolage 
                <svg class="icon" viewBox="0 0 24 24" fill="currentColor">
                  <path
                    fill-rule="evenodd"
                    d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
            </button>
        </div>
        <div class="image-section">
            <img src="/assets/img/Bricolage11.png" alt="Bricolage Image" class="bricolage-image">
        </div>
    </div>
    <h1 class="h1">Tous les services de bricolage</h1>
    <p>Rénovation, aménagement ou petites réparations, gagnez du temps et de l’argent en déléguant à des bricoleurs qualifiés.</p>
    
    <div class="search-container">
        <input type="text" placeholder="🔍 Changer un s">
        
            
        
    </div>
    
</body> 
<app-footer></app-footer>
