



<body>
  <app-navbar></app-navbar>
  <div class="body-container">

  <div class="container">
    
    <div class="title-container" >
      <h2>Devenez prestataire</h2>
    
     
    </div>
   

    <p>Inscrivez-vous dès maintenant et accédez à plus de 4 000 jobs chaque semaine, dans plus de 120 catégories.</p>
    <form [formGroup]="form1">
     
    <label for="nom"><i class="fas fa-user"></i> nom</label>
        <input id="nom" formControlName="nom"  class="input-fa">
       
     
      <div class="error" *ngIf="form1.get('nom')?.invalid && form1.get('nom')?.touched">
        <span *ngIf="form1.get('nom')?.errors?.['required']">⚠️ Le nom est requis.</span>
      </div>
    
    
      
      <label for="email"><i class="fas fa-envelope"></i> Email</label>
      <input id="email" formControlName="email" type="email"  class="input-fa">
      
      <div class="error" *ngIf="form1.get('email')?.invalid && form1.get('email')?.touched">
        <span *ngIf="form1.get('email')?.errors?.['required']">⚠️ L'email est requis.</span>
        <span *ngIf="form1.get('email')?.errors?.['email']">⚠️ Entrez un email valide.</span>
      </div>
      <div *ngIf="form1.get('email')?.hasError('emailExists')">
        <small class="text-danger">⚠️L'email existe déjà ! Veuillez en choisir un autre.</small>
      </div>
    
      
        <label for="password"><i class="fas fa-lock"></i>  Mot de passe</label>
        <div class="input-container">
          <input id="password" formControlName="password" type="password" class="input-fa">
          
        </div>
     
      <div class="error" *ngIf="form1.get('password')?.invalid && form1.get('password')?.touched">
        <span *ngIf="form1.get('password')?.errors?.['required']">⚠️ Le mot de passe est requis.</span>
        <span *ngIf="form1.get('password')?.errors?.['minlength']">⚠️ Le mot de passe doit contenir au moins 6 caractères.</span>
      </div>
    
      <label for="telephoneNumber"><i class="fas fa-phone"></i>  Téléphone</label>
      <input id="telephoneNumber" formControlName="telephoneNumber" class="input-fa">
      <div class="error" *ngIf="form1.get('telephoneNumber')?.invalid && form1.get('telephoneNumber')?.touched">
        <span *ngIf="form1.get('telephoneNumber')?.errors?.['required']">⚠️ Le numéro de téléphone est requis.</span>
        <span *ngIf="form1.get('telephoneNumber')?.errors?.['pattern']">⚠️ Entrez un numéro valide.</span>
      </div>
    
      <label for="competence"><i class="fas fa-briefcase"></i> Sélectionnez votre domaine de spécialisation</label>
      <input id="competence" formControlName="competence" type="text" class="input-fa" (click)="showSkillModal()">
      <label for="workExperience"><i class="fas fa-calendar-check"></i> Années d'expérience</label>
<input id="workExperience" formControlName="workExperience" type="number"  class="input-fa" min="0">
    
      <label for="cv-upload"><i class="fas fa-file-upload"></i> Télécharger votre CV</label>
      <input id="cv-upload" type="file" (change)="onFileSelected($event,'doucument_cv')">
    
      <label for="cin-upload"><i class="fas fa-id-card"></i> Télécharger votre CIN</label>
      <input id="cin-upload" type="file" (change)="onFileSelected($event,'doucument_CIN')">
    
      <label for="image-upload"><i class="fas fa-image"></i> Télécharger votre image</label>
      <input id="image-upload" type="file" accept="image/*" (change)="onFileSelected($event,'image')">
    
      <button (click)="onSubmit()">Soumettre</button>
      
        <div *ngIf="notificationMessage" class="alert alert-info mt-3">
          {{ notificationMessage }}
        </div>

    </form>
    
   
  
    <div class="modal" *ngIf="showModal">
      <div class="modal-content">
        <span class="close" (click)="showModal = false" (keydown)="showModal = false">&times;</span>
        <h2>Choisissez les services que vous souhaitez proposer</h2>

    
        <input type="text" placeholder="🔍  Recherchez votre domaine de service" class="search-bar">
    
        <div class="grid-container">
          <div class="category-card" *ngFor="let category of categories  let i = index" (click)="selectCategory(category.nom)" (keydown)="selectCategory(category.nom)">
            <img [src]="imageUrls[i]" alt="{{ category.nom }}" *ngIf="imageUrls[i]">
            <span>{{ category.nom }}</span>
            <span class="icon">➜</span>
          </div>
        
        </div>
      </div>
     
    </div>
    <div class="modal" *ngIf="showServiceModal">
      <div class="modal-content">
        <span class="close" (click)="closeServiceModal()" (keydown)="closeServiceModal()">&times;</span>
        <h2>Services disponibles pour la catégorie : {{ selectedCategory?.nom }}</h2>
        <input type="text" placeholder="🔍 Recherchez un service" class="search-bar">
     <div class="grid-container">
          <div class="category-card" *ngFor="let service of services let i = index"  >
            <img *ngIf="imageUrls[i]" [src]="imageUrls[i]" alt="{{ service.nomservice }}" class="service-image">
            <label for="service-{{ service.id }}">{{ service.nomservice }}</label>

            <input 
              class="iconn" 
              type="checkbox" 
              id="service-{{ service.id }}" 
              [checked]="selectedServices.includes(service)" 
              (change)="selectService(service)">
          </div>
          </div>
        </div>
      </div>
  </div>
<div class="image-container">
  <img src="assets/img/ahmed.png" alt="" class="image-top">
  <img src="assets/img/asma123.png" alt="" class="image-middle">
  <img src="assets/img/imag1.png" alt="" class="image-bottom">
</div>

    </div>
  
  
  

</body>











