<nav class="navbar">
    <div class="logo">PrestatairePro</div>
    <div class="nav-icons">
        <a href="#"><i class="fas fa-envelope"></i></a>
        <a href="#"><i class="fas fa-bell"></i></a>
        <div id="profile-container">
            <img *ngIf="profileImageUrl" [src]="profileImageUrl" alt="Photo de profil" id="profile-icon"/>
            <i *ngIf="!profileImageUrl" class="fas fa-user-circle" id="profile-icon"></i>
          </div>
        <i class="fas fa-bars" id="menu-icon"></i>
    </div>

    
    <div class="profile-menu" id="profile-menu">
        <ul>
            
            <li routerLink="/updateprestaitre" > 👤 Voir mon profil</li>
            <li>✉️ Mes messages</li>
           
            <li>⚙️ Mon compte</li>
            <li>❓ Besoin d'aide ?</li>
            <li>🚪 Se déconnecter</li>
        </ul>
    </div>
</nav>

<div class="container">
    <aside class="sidebar">
        <ul>
            <ul>
                <li>📌 Tableau de bord</li>
               <li>📋 Mes demandes</li>
                <li>📋 Mes jobs</li>
                <li>📅 Mes réservations</li>
                <li>📜 Mon historique</li>
               <li>🚪 Se déconnecter</li>
            </ul>
            
        </ul>
    </aside>
    
    <main class="content">
        <div class="profile-alert">
            <p>⚠️ Complétez votre profil pour postuler aux jobs</p>
            <button class="profile-btn">Compléter mon profil</button>
        </div>
        
        <section class="requests">
            <h2>Vous n’avez pas de demande en cours</h2>
            <p>Créez votre demande gratuitement et recevez des offres rapidement !</p>
        </section>
    </main>
</div>
<app-footer></app-footer>
