/* Styles généraux */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

/* Navbar */
.navbar {
    background-color: #ffffff; /* Bleu vif */
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Conteneur de la navbar */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo {
    font-size: 24px;
    font-weight: bold;
    color: rgb(3, 3, 3);
    text-decoration: none;
}

/* Menu */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: rgb(11, 11, 11);
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ffcc00;
}

/* Bouton Free Trial */
.btn {
    background-color: #007bff;
    color: #f4f4f5;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #ffcc00;
    color: white;
}
