<body>
    <app-navbar></app-navbar>


<div class="container">
    <h2>Réinitialiser mon mot de passe</h2>

    <div class="input-group">
        <label for="password">Choisissez un mot de passe :</label>
        <input type="password" id="password" [(ngModel)]="password" placeholder="🔒 Min. 6 caractères">
    </div>

    <div class="input-group">
        <label for="confirm-password">Confirmez le mot de passe :</label>
        <input type="password" id="confirm-password" [(ngModel)]="repeatPassword" placeholder="🔒 Min. 6 caractères">
    </div>

    <button class="btn" (click)="changePassword()">Changer mon mot de passe</button>

    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
</div>
</body>
<app-footer></app-footer>
