<body>
    <app-navbarcompte></app-navbarcompte>
     <div class="container">
         <div class="sidebar">
             
           <div id="profile-container">
             <div class="image-wrapper" (click)="triggerFileInput()" (keydown)="triggerFileInput()">
               <img *ngIf="profileImageUrl; else defaultIcon" [src]="profileImageUrl" alt="" id="profile-icon"/>
               <ng-template #defaultIcon>
                 <i class="fas fa-user default-icon"></i>
               </ng-template>
             </div>
         
             <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" style="display: none"/>
             <ng-template #defaultIcon>
               <i class="fas fa-user default-icon" (click)="triggerFileInput()" (keydown)="triggerFileInput()"></i> 
             </ng-template>
       
             <!-- Champ d'upload caché -->
            
 
           </div>
         
       
             <h2>{{ user?.nom }}</h2>
           
             <p>⭐ Pas d'évaluation</p>
             <button>Contacter</button>
             <button>Partager mon profil</button>
         </div>
         <div>
           
                 <h3>Qui sommes-nous</h3>
            
                 <div class="content">
                     <div class="section">
                       <label for="description-textarea">Description</label>
                       <div class="competence">
                         <ng-container *ngIf="!isEditing['description']; else editDescription">
                           <p (click)="startEditing('description', user?.description)" (keydown)="startEditing('description', user?.description)">
                             {{ user?.description || 'Aucune description disponible.' }}
                           </p>
                           <button class="edit-btn" (click)="startEditing('description', user?.description)">✏️</button>
                         </ng-container>
                   
                         <ng-template #editDescription>
                           <div class="edit-container">
                             <textarea id="description-textarea" [(ngModel)]="editedValues['description']"></textarea>
                             <button class="savee-btn" (click)="saveChanges('description')">✔️</button>
                           </div>
                         </ng-template>
                       </div>
                     </div>
                   </div>
                   <div class="content">
                    <div class="section">
                      <label for="email-input">email</label>
                      <div class="competence">
                        <ng-container *ngIf="!isEditing['email']   else editEmail">
                          <p (click)="startEditing('email', user?.email)" (keydown)="startEditing('email', user?.email)">
                            {{ user?.email || 'Aucune email disponible.' }}
                          </p>
                          <button class="edit-btn" (click)="startEditing('email', user?.email)">✏️</button>
                        </ng-container>
                  
                        <ng-template #editEmail>
                          <div class="edit-container">
                            <input id="email-input" type="text"  [(ngModel)]="editedValues['email']">
                            <button class="savee-btn" (click)="saveChanges('email')">✔️</button>
                          </div>
                          <div class="error" *ngIf="emailError">
                            <span>⚠️ {{ emailError }}</span>
                          </div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                  
                   
             <div class="content">
             <div class="section">
                 <span>💼Notre service</span>
                 <div class="competence" *ngFor="let servicee of user1?.servicesOfferts">
                     <p *ngIf="servicee?.nomservice">
                        {{ servicee.nomservice }}
                     </p>
                 </div>
                 
             </div>
             </div>

             <div class="content">
               <div class="section">
                 <label for="nomEntreprise-input">Nom de l'entreprise</label>
                 <div class="competence">
                   <ng-container *ngIf="!isEditing['nomEntreprise']; else editNomEntreprise">
                     <p (click)="startEditing('nomEntreprise', user?.nomEntreprise)" (keydown)="startEditing('nomEntreprise', user?.nomEntreprise)">
                       {{ user?.nomEntreprise ? (user.nomEntreprise ) : 'nomEntreprise non renseigné.' }}
                     </p>
                     <button class="edit-btn" (click)="startEditing('nomEntreprise', user?.nomEntreprise)">✏️</button>
                   </ng-container>
             
                   <ng-template #editNomEntreprise>
                     <div class="edit-container">
                       <input id="nomEntreprise-input" type="text" [(ngModel)]="editedValues['nomEntreprise']">
                       <button class="savee-btn" (click)="saveChanges('nomEntreprise')">✔️</button>
                     </div>
                   </ng-template>
                 </div>
               </div>
             </div>
          <div class="content">
              <div class="section">
                  <label for="workExperience-input"> Années d'expérience</label>
                  <div class="competence">
                      <ng-container *ngIf="!isEditing['workExperience']; else editWorkExperience">
                          <p (click)="startEditing('workExperience', user?.workExperience)" (keydown)="startEditing('workExperience', user?.workExperience)">
                              {{ user?.workExperience || 'Aucune expérience disponible.' }}
                          </p>
                          <button class="edit-btn" (click)="startEditing('workExperience', user?.workExperience)">✏️</button>
                      </ng-container>
                  
                      <ng-template #editWorkExperience>
                          <div class="edit-container">
                              <input id="workExperience-input" type="text" [(ngModel)]="editedValues['workExperience']">
                              <button class="savee-btn" (click)="saveChanges('workExperience')">✔️</button>
                          </div>
                      </ng-template>
                  </div>
                  
                  
              </div>
          </div>
              <div class="content">
                <div class="section">
                  <label for="siteWeb-input">Site Web de l'entreprise</label>
                  <div class="competence">
                    <ng-container *ngIf="!isEditing['siteWeb']; else editSiteWeb">
                      <p (click)="startEditing('siteWeb', user?.siteWeb)" (keydown)="startEditing('siteWeb', user?.siteWeb)">
                        {{ user?.siteWeb ? (user.siteWeb ) : 'siteWeb non renseigné.' }}
                      </p>
                      <button class="edit-btn" (click)="startEditing('siteWeb', user?.siteWeb)">✏️</button>
                    </ng-container>
              
                    <ng-template #editSiteWeb>
                      <div class="edit-container">
                        <input id="siteWeb-input" type="text" [(ngModel)]="editedValues['nomEntreprise']">
                        <button class="savee-btn" (click)="saveChanges('nomEntreprise')">✔️</button>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
              
             
             <div class="content">
                 <div class="section">
                     <label for="telephoneNumber-input">📞 Téléphone</label>
                     <div class="competence">
                         <ng-container *ngIf="!isEditing['telephoneNumber']; else editTelephone">
                             <p (click)="startEditing('telephoneNumber', user?.telephoneNumber)" (keydown)="startEditing('telephoneNumber', user?.telephoneNumber)">
                                 {{ user?.telephoneNumber || 'Aucun numéro disponible.' }}
                             </p>
                             <button class="edit-btn" (click)="startEditing('telephoneNumber', user?.telephoneNumber)">✏️</button>
                         </ng-container>
                     
                         <ng-template #editTelephone>
                             <div class="edit-container">
                                 <input id="telephoneNumber-input" type="text" [(ngModel)]="editedValues['telephoneNumber']">
                                 <button class="savee-btn" (click)="saveChanges('telephoneNumber')">✔️</button>
                             </div>
                         </ng-template>
                     </div>
                     
                     
                 </div>
             </div>
             <div class="content">
                <div class="section">
                    <label for="siret-input">SIRET de l'entreprise</label>
                    <div class="competence">
                        <ng-container *ngIf="!isEditing['siret']; else editSiret">
                            <p (click)="startEditing('siret', user?.siret)" (keydown)="startEditing('siret', user?.siret)">
                                {{ user?.siret || 'Aucun siret disponible.' }}
                            </p>
                            <button class="edit-btn" (click)="startEditing('siret', user?.siret)">✏️</button>
                        </ng-container>
                    
                        <ng-template #editSiret>
                            <div class="edit-container">
                                <input id="siret-input" type="text" [(ngModel)]="editedValues['siret']">
                                <button class="savee-btn" (click)="saveChanges('siret')">✔️</button>
                            </div>
                        </ng-template>
                    </div>
                    
                    
                </div>
            </div>
             <div class="content">
               <div class="section">
                 <label for="adresse-select">📍Adresse</label>
                 <div class="competence">
                   <ng-container *ngIf="!isEditing['adresse']; else editAdresse">
                     <p (click)="startEditing('adresse', user?.adresse)" (keydown)="startEditing('adresse', user?.adresse)">
                       {{ user?.adresse?.governoate || 'Adresse non renseignée.' }}
                     </p>
                     <button class="edit-btn" (click)="startEditing('adresse', user?.adresse)">✏️</button>
                   </ng-container>
             
                   <ng-template #editAdresse>
                     <div class="edit-container">
                       <select id="adresse-select" [(ngModel)]="selectedAdresse">
                         <option *ngFor="let adresse of adresses" [ngValue]="adresse">
                           {{ adresse.governoate }} 
                         </option>
                       </select>
                       <button class="savee-btn" (click)="saveChanges('adresse')">✔️</button>
                     </div>
                   </ng-template>
                 </div>
               </div>
             </div>
             
               <div class="content">
               <div class="section">
                 <label for="password-input">🔒 Mot de passe</label>
                 <div class="competence">
                   <ng-container *ngIf="!isEditing['password']; else editPassword">
                     <p>********</p>
                     <button class="edit-btn" (click)="startEditing('password', '')">✏️</button>
                   </ng-container>
             
                   <ng-template #editPassword>
                     <div class="edit-container">
                       <input id="password-input" type="password" placeholder="Nouveau mot de passe" [(ngModel)]="editedValues['password']">
                       <input type="password" placeholder="Confirmer mot de passe" [(ngModel)]="editedValues['confirmPassword']">
                       <button class="savee-btn" (click)="saveChanges('password')">✔️</button>
                     </div>
                     <div class="error" *ngIf="passwordError">
                       <span>⚠️ {{ passwordError }}</span>
                     </div>
                   </ng-template>
                 </div>
               </div>
             </div>
              
            
         </div>
     </div>
     <app-footer></app-footer>
 </body>
 
