<app-navbarcompte></app-navbarcompte>



<body>

    <div class="container">
        <aside class="sidebar">
            <ul>
                <ul>
                    <li routerLink="/Compteparticulier">📌Tableau de bord</li>
                   <li>
                        <button 
                            routerLink="/Mesdemandes" 
                            (click)="toggleDemandes()" 
                            (keydown)="toggleDemandes()" 
                            tabindex="0"
                            style="background:none;border:none;padding:0;cursor:pointer; color: inherit; width: 100%; text-align: left;"
                        >
                            📋 Mes demandes
                            <span *ngIf="showDemandes">
                                <i class="fa fa-chevron-down"></i> 
                            </span>
                            <span *ngIf="!showDemandes">
                                <i class="fa fa-chevron-right"></i> 
                            </span>
                        </button>
                    </li>
                    <ul *ngIf="showDemandes" class="submenu">
                        <li routerLink="/Mesdemandeterminees">Demandes de service clôturées</li>
                        <li routerLink="/Mesdemandesarchivees">Mes Demandes Archivées</li>

                    </ul>

                    <li routerLink="/Reservationcours">📅 Réservations en cours</li>
                    <li routerLink="/Historique">📜Mon historique</li>
                    <li routerLink="/Mestransactions">💰 Mes transactions</li>
                    <li routerLink="/Mesévolutions">⭐Mes évolutions</li>
                    <li  >
        
   
  
                        <button id="logout-btn"  (click)="logout()" (keydown)="logout()" tabindex="0" style="background:none;border:none;padding:0;cursor:pointer; color:  #66696e;">
                            🚪 Se déconnecter
                        </button>
                    </li>
                </ul>

            </ul>
        </aside>

        <main class="content">
            <div class="profile-wrapper">
                <span class="user-name">Bonjour {{ user?.nom }}</span> 

                <div class="profile-alert">
                    <div class="job-content">
                        <div id="profile-container">
                            <ng-container *ngIf="profileImageUrl; else defaultIcon">
                                <img [src]="profileImageUrl"        alt="" id="profile-icon" />
                            </ng-container>
                            <ng-template #defaultIcon>
                                <i class="fas fa-user default-icon"></i> 
                            </ng-template>
                        </div>

                    </div>

                </div>
                <div class="services-container">
                    <button (click)="prevCategory()" class="scroll-btn left" [disabled]="currentIndex === 0"> <i
                            class="fa fa-angle-left"></i></button>

                    <div class="services-list">
                        <div class="category-card" *ngFor="let category of visibleCategories; let i = index">
                            <img [src]="imageUrls[currentIndex + i]" alt="{{ category.nom }}">
                            <span>{{ category.nom }}</span>
                        </div>
                    </div>
                    <button (click)="nextCategory()" class="scroll-btnright"
                        [disabled]="currentIndex + itemsPerPage >= categories.length"> <i
                            class="fa fa-angle-right"></i></button>

                </div>

            </div>
        </main>

    </div>

</body>