.body {
    margin: 0px;
    margin-bottom: 0px;
    padding: 0px;

    border: 0px;
    width: 7000px
}



.service-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    display: flex;
    width: 5500px;
    margin: 0px;
    padding: 0px;







}

.sidebar {
    width: 250px;
    height: 670px;

    background-color: #fbf5f5;


}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.sidebar ul li.active,
.sidebar ul li:hover {
    background-color: #bbbdc0;
}

.profile-alert {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px 20px;
    border-radius: 15px;

    height: 120px;
    margin: auto;

}

.user-name {
    font-weight: bold;
    font-size: 25px;
    color: #6f6d6d;
    display: block;
    margin-left: 20px;
    margin-bottom: 10px;

}

.content {

    width: 900px;
    margin-right: 50px;


}

.profile-container {
    position: relative;
    display: inline-block;
    width: 50px;
    /* Taille de l'icône */
    height: 50px;

}

.job-content {
    display: flex;
    align-items: center;
    margin-bottom: 70px;

}

.job-text {
    color: white;
}

.job-text strong {
    font-size: 25px;
    display: block;
}

.job-text p {
    margin: 5px 0 0;
    font-size: 20px;
}





#menu-icon {
    color: rgb(140, 137, 137);
}


.profile-btn:hover {
    background-color: #fff4e5;
}

.requests {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}



#profile-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

#profile-container i {
    font-size: 40px;
    color: rgb(140, 137, 137);
}

#profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #f0f0f0;
    overflow: hidden;

}


.profile-menu.active {
    display: block;
}

.blue-icon {
    color: #edcd8e;
}

.category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100px;
}

.services-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 500px;

}

.services-list {
    display: flex;
    gap: 15px;
    width: 60%;
    justify-content: center;

}



.category-card img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 6%;


}

.scroll-btn {
    background-color: white;

    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 120px;
}

.scroll-btnright {
    background-color: white;

    color: white;

    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 120px;
}


.scroll-btnright i {
    color: #007bff;
 
    font-size: 30px;
 
    transition: color 0.3s ease;
 
}


.scroll-btn:disabled {

    cursor: not-allowed;
}

.scroll-btn i {
    color: #007bff;
    font-size: 30px;
    transition: color 0.3s ease;
}

.scroll-btn i:hover {
    color: darkblue;
  
}