<div class="container">
    <div class="left">
      <h2>Gagnez de l’argent grâce à vos compétences : inscrivez-vous et accédez à de nombreuses missions chaque semaine,selon vos disponibilités et à votre tarif:</h2>
      <p><strong> </strong></p>
      <ul>
        <li>Valorisez vos compétences, trouvez des clients et augmentez vos revenus en toute liberté.</li>
        <li>Inscrivez-vous dès maintenant et boostez votre activité.</li>
        <li>Trouvez des clients, gérez votre emploi du temps et gagnez plus, simplement.</li>
      </ul>
      <button>Devenir prestataire</button>
    </div>
    <div class="right">
      <div class="image-wrapper">
        <img src="assets/img/presatitre1.png" alt="Alain" class="profile">
     
       
      </div>
    </div>
  </div>
  
