<nav class="navbar">
    <div class="logo">PrestatairePro</div>
    <button class="middle-btn" *ngIf="userRole === 'PARTICULIER'"><i class="fa fa-plus"></i> Demander un service</button>
    <div class="nav-icons">
        <a href="#"><i class="fas fa-envelope"></i></a>
        <a href="#"><i class="fas fa-bell"></i></a>
        <div id="profile-container">
            <ng-container *ngIf="profileImageUrl; else defaultIcon">
                <img [src]="profileImageUrl" alt="Photo de profil" id="profile-icon"/>
            </ng-container>
            <ng-template #defaultIcon>
                <i class="fas fa-user default-icon"></i> 
            </ng-template>
        </div>

        <i class="fas fa-bars" id="menu-icon" (click)="toggleMenu()"></i> 
    </div>

    <div class="profile-menu" id="profile-menu"   [ngClass]="{'active': isMenuOpen}">
        <ul>
            <li [routerLink]="userRole === 'PRESTATAIRE' ? '/ProfileUtilisateur' : '/Profileparticulier'">👤 Voir mon profil</li>
            <li>✉️ Mes messages</li>
            <li routerLink="/updateprestaitre">⚙️ Mon compte</li>
            <li>❓Besoin d'aide?</li>
            <li id="logout-btn" (click)="logout()">🚪 Se déconnecter</li>
        </ul>
    </div>
</nav>
