


<div class="containeree">
  <app-navbar></app-navbar>
    <h2>Bienvenue chez SOS Service Tunisie</h2>
    <div class="optionss" >
        <div class="options" (click)="openModal()">
            <i class="fas fa-bell-concierge"></i>
            <h3>J'ai besoin d'un service</h3>
            <p>Réservez le prestataire idéal pour vos services du quotidien</p>
        </div>
        
        <span class="ou">OU</span>
        <div class="options"[routerLink]="['/prestataire']">
            <i class="fas fa-briefcase"></i>
            <h3>Devenir prestataire</h3>
            <p>Augmentez vos revenus en rendant service près de chez vous</p>
        </div>
    </div>
    <p class="login-text">Vous avez déjà un compte ? <a   [routerLink]="['/login']">Connectez-vous</a></p>
</div>
<div class="modal" [class.show]="showModal">
    
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>Créer un compte</h2>
      <p>Profitez de votre temps libre grâce à nos jobbers</p>
  
  
      <!-- Formulaire d'inscription -->
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        
        <!-- Nom -->
        <input type="text" formControlName="nom" placeholder="👤 Nom">
        <div *ngIf="registerForm.get('nom')?.invalid && registerForm.get('nom')?.touched">
          ⚠️ Le nom est obligatoire.
        </div>
  
        <!-- Email -->
        <input type="email" formControlName="email" placeholder="📧 Adresse e-mail">
        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
          ⚠️ Veuillez entrer une adresse email valide (@gmail.com uniquement).
        </div>
        <div *ngIf="registerForm.get('email')?.hasError('emailExists')">
          <small class="text-danger">⚠️L'email existe déjà ! Veuillez en choisir un autre.</small>
        </div>
  
        <!-- Numéro de téléphone -->
        <input type="text" formControlName="telephoneNumber" placeholder="📞 Numéro de téléphone">
        <div *ngIf="registerForm.get('telephoneNumber')?.invalid && registerForm.get('telephoneNumber')?.touched">
          ⚠️ Veuillez entrer un numéro valide (8 chiffres).
        </div>
  
        <!-- Mot de passe -->
        <input type="password" formControlName="password" placeholder="🔑 Mot de passe">
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
          ⚠️ Le mot de passe doit contenir au moins 8 caractères.
        </div>
  
        <!-- Upload de fichier -->
        <input type="file" (change)="onFileSelected($event)" accept="image/*">
        
    
      
        <button type="submit" class="register-btn"  >
          Je m'inscris
        </button>
        
        <div *ngIf="notificationMessage" class="alert alert-info mt-3">
          {{ notificationMessage }}
        </div>
  
      </form>
    </div>
  </div>
  
  <!-- Pied de page -->
  <app-footer></app-footer>
  