<app-navbarcompte></app-navbarcompte>
<body>
    <div class="container">
      <aside class="sidebar">
        <ul>
          <ul>
            <li routerLink="/Comptentreprise">📌Tableau de bord</li>
            <li routerLink="/mes-publications">📰 Mes publications</li>
            <li routerLink="/commentaires-recus">🧑‍💬 Commentaires reçus</li>

            <li routerLink="/Chat">💬 Mes messages</li>

            <li routerLink="/nour">⭐Mes évolutions</li>
  
            <li (click)="logout()" >🚪 Se déconnecter</li>
          </ul>
        </ul>
      </aside>
