<app-navbarcompte></app-navbarcompte>

<body>
  <div class="container">
    <aside class="sidebar">
      <ul>
        <ul>
          <li routerLink="/Comptentreprise">📌Tableau de bord</li>
          <li routerLink="/mes-publications">📰 Mes publications</li>
          <li routerLink="/commentaires-recus">🧑‍💬 Commentaires reçus</li>

          <li routerLink="/Chat">💬 Mes messages</li>

          <li routerLink="/nour">⭐Mes évolutions</li>

          <li>



            <button id="logout-btn" (click)="logout()" (keydown)="logout()" tabindex="0"
              style="background:none;border:none;padding:0;cursor:pointer; color:  #66696e;">
              🚪 Se déconnecter
            </button>
          </li>
        </ul>
      </ul>
    </aside>