<app-navbarcompte></app-navbarcompte>
<body>
   
    <div class="container">
        <aside class="sidebar">
            <ul>
                <ul>
                    <li>📌Tableau de bord</li>
                   <li>📋 Mes demandes</li>
                    <li>📋 Mes jobs</li>
                    <li>📅 Mes réservations</li>
                    <li>📜 Mon historique</li>
                   <li>🚪 Se déconnecter</li>
                </ul>
                
            </ul>
        </aside>
        <main class="content">
            <h2>Mes Demandes</h2>

            <!-- Boucle pour afficher les demandes -->
            <div *ngFor="let demande of demandes ; let i = index">
                <div class="card">
                  <div class="image-section">
                    <!-- Affichage de l'image -->
                    <img *ngIf="imageUrls[i]" alt="{{demande.title}}"
                                             [src]="imageUrls[i]" >

                  </div>
                    <div class="info-section">
                        <h3>🛠 Service:{{ demande.servicee?.nomservice }}</h3>
                        
                        <p><span class="date">📅 {{ demande.date | date: 'dd MMM yyyy' }}</span></p>
                        <p><span class="duration">⏳ {{ demande.heureTravail }} heures de service</span></p>

                       
                        <button class="btn" (click)="gererDemande(demande)" >Gérer ma demande</button>
                    </div>
                </div>
            </div>
        </main>
        
    </div>
</body>
